.admin-reports{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-left: 1px solid rgba(0, 0, 0, 0.13);
    align-items: center;
}


.admin-reports > h1{
    color: rgba(0, 0, 0, 0.733);
    font: 300 2rem "Roboto";
    text-align: center;
    width: 50%;
    padding : 1.5rem;
}

.admin-reports > .report-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.admin-reports > .report-frame {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1rem;
    border : 1px solid rgba(0, 0, 0, 0.13);
}